.Shelter {
  height: 100vh;
  background: url(./images/shelter3.svg) no-repeat 0 0 / cover;
  display: flex;
}

@media screen and (max-width: 1660px) {
  .Shelter {
    background: url(./images/shelter1660.svg) no-repeat 0 0 / cover;
  }
}
@media screen and (max-width: 1420px) {
  .Shelter {
    background: url(./images/shelter1420.svg) no-repeat 0 0 / cover;
  }
}
@media screen and (max-width: 1135px) {
  .Shelter {
    background: url(./images/shelter1135.svg) no-repeat 0 0 / cover;
  }
}

@media screen and (max-width: 1024px) {
  .Shelter {
    background: url(./images/shelter1024.svg) no-repeat center 0 / cover;
  }
}

@media screen and (max-width: 998px) {
  .Shelter {
    background: linear-gradient(#53cbff, #121f76);
  }
  .shelter {
    display: flex;
    background: url(./images/shelterSymbol.svg) no-repeat center center /
      contain;
    height: 60vh;
    width: 70vw;
  }
}
@media screen and (max-width: 500px) {
  .Shelter {
    background: linear-gradient(#53cbff, #121f76);
  }

  .shelter {
    background: url(./images/shelterSymbol.svg) no-repeat center center /
      contain;
    height: 40vh;
    width: 75vw;
    transform: translateY(-40%);
  }
}

@media screen and (max-width: 350px) {
  .shelter {
    height: 40vh;
    width: 50vw;
    transform: translateY(-25%);
  }
}
