@import url("https://fonts.googleapis.com/css?family=Allura|Oswald");

.Counter {
  position: fixed;
  left: 100px;

  font-size: 40px;

  h4 {
    color: #fff;
    margin: 0;
    font-family: "Allura", cursive;

    .page {
      display: inline-block;
      font-weight: 300;
      transform: translateY(-20%);
    }
  }
  .projects {
    font-family: "Oswald", sans-serif;

    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1660px) {
  .Counter {
    left: 50px;
  }
}

@media screen and (max-width: 1135px) {
  .Counter {
    left: 45%;
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 768px) {
  .Counter {
    left: 40%;
  }
}

@media screen and (max-width: 500px) {
  .Counter {
    transform: translateY(-35%);
    left: 40%;

    h4 {
      font-size: 25px;
    }
    .projects {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Counter {
    font-size: 20px;
    left: 65%;

    .projects {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Counter {
    font-size: 20px;
    left: 65%;
    transform: translateY(-30%);

    h4 {
      font-size: 25px;
    }

    .projects {
      font-size: 15px;
    }
  }
}
