.Watches {
  background: url(./images/watches.svg) no-repeat 0 0 / cover;
  // background: url(./images/bg2.svg) no-repeat 0 0 / cover;
}

@media screen and (max-width: 1660px) {
  .Watches {
    background: url(./images/watches1660.svg) no-repeat 0 0 / cover;
  }
}
@media screen and (max-width: 1420px) {
  .Watches {
    background: url(./images/watches1420.svg) no-repeat 0 0 / cover;
  }
}
@media screen and (max-width: 1135px) {
  .Watches {
    background: url(./images/watches1135.svg) no-repeat 0 0 / cover;
  }
}

@media screen and (max-width: 1024px) {
  .Watches {
    background: url(./images/watches1024.svg) no-repeat center 0 / cover;
  }
}

@media screen and (max-width: 998px) {
  .Watches {
    background: linear-gradient(#5d097b, #53cbff);
  }
  .watches {
    display: flex;
    background: url(./images/watchSymbol.svg) no-repeat center center / contain;
    height: 60vh;
    width: 70vw;
  }
}
@media screen and (max-width: 500px) {
  .Watches {
    background: linear-gradient(#5d097b, #53cbff);
  }

  .watches {
    background: url(./images/watchSymbolMobile.svg) no-repeat center center /
      contain;
    height: 40vh;
    width: 75vw;
    transform: translateY(-40%);
  }
}

@media screen and (max-width: 350px) {
  .watches {
    height: 40vh;
    width: 50vw;
    transform: translateY(-25%);
  }
}

@media screen and (max-width: 1025px) and (min-aspect-ratio: 4/3) {
  .Watches {
    background: url(./images/watchesIpad.svg) no-repeat 0 0 / cover;
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Watches {
    background: url(./images/watchesMobile.svg) no-repeat 25% 0 / cover;
  }

  .watches {
    display: none;
  }
}

@media screen and (max-width: 700px) and (min-aspect-ratio: 4/3) {
  .Watches {
    background: url(./images/watchesXSMobile.svg) no-repeat 25% 0 / cover;
  }
}
