.Project {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Clothing {
  background: url(./images/clothing.svg) no-repeat 0 0 / cover;
}

.img {
  display: none;
}

@media screen and (max-width: 1660px) {
  .Clothing {
    background: url(./images/clothing1660.svg) no-repeat 0 0 / cover;
  }
}
@media screen and (max-width: 1420px) {
  .Clothing {
    background: url(./images/clothing1420.svg) no-repeat 0 0 / cover;
  }
}
@media screen and (max-width: 1135px) {
  .Clothing {
    background: url(./images/clothing1135.svg) no-repeat 0 0 / cover;
  }

  .Project {
    justify-content: center;
    align-items: flex-end;
  }
}

@media screen and (max-width: 1024px) {
  .Clothing {
    background: url(./images/clothing1024.svg) no-repeat center 0 / cover;
  }
}

@media screen and (max-width: 998px) {
  .Clothing {
    background: linear-gradient(#011832, #5d097b);
  }

  .Project {
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
  }
  .img {
    display: flex;
    height: 60vh;
    width: 50vw;
  }

  .clothing {
    background: url(./images/clothingSymbol.svg) no-repeat center center /
      contain;
  }
}
@media screen and (max-width: 500px) {
  .img {
    height: 40vh;
    width: 50vw;
    transform: translateY(-40%);
  }
}
@media screen and (max-width: 350px) {
  .img {
    height: 40vh;
    width: 50vw;
    transform: translateY(-25%);
  }
}

@media screen and (max-width: 1025px) and (min-aspect-ratio: 4/3) {
  .Clothing {
    background: url(./images/clothingIpad.svg) no-repeat 0 0 / cover;
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Clothing {
    background: url(./images/clothingMobile.svg) no-repeat 25% 0 / cover;
  }
  .Project {
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
  }
  .img {
    display: none;
  }
}

@media screen and (max-width: 700px) and (min-aspect-ratio: 4/3) {
  .Clothing {
    background: url(./images/clothingXSMobile.svg) no-repeat 15% 0 / cover;
  }
}
