.Project {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Clothing {
  background: url(./clothing.svg) no-repeat 0 0 / cover;
  background: url(./clothing2.svg) no-repeat 0 0 / cover;
}
