.info {
  width: 575px;
  margin-right: 285px;
  color: #fff;

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
  }

  .number {
    font-family: "Allura", cursive;
    font-size: 30px;
    font-weight: 400;
  }

  h3 {
    font-weight: 400;
  }

  .buttons {
    display: flex;
    .link {
      margin-left: 1vw;
    }
    a {
      margin: 1vh 0vw;
      padding: 1vh 2vw;
      border: 1px solid #fff;
      color: #fff;
      transition: 1s ease;

      &:hover {
        background: #fff;
        color: #333;
      }

      h5 {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
